################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TODOweb/FileContentIndex/e5dc6902-5968-456d-b1b2-6681fea9c1bd.vsidx
