################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TODOweb/FileContentIndex/e5dc6902-5968-456d-b1b2-6681fea9c1bd.vsidx
/.vs/TODOweb/FileContentIndex/7c87a9ae-3f8f-4498-be43-7c42be1bd121.vsidx
/.vs/TODOweb/FileContentIndex/8378aa73-c88e-4729-bf5e-a4d4758ac454.vsidx
/.vs/TODOweb/FileContentIndex/a5d5dd25-dbbf-4767-aa50-a3cc066dbdf1.vsidx
/.vs/TODOweb/FileContentIndex/b4bb2277-a6da-494d-98f8-ab27709a3c70.vsidx
/.vs/TODOweb/FileContentIndex/d2fad819-1d9c-4e8f-a93b-cfc0c5a57360.vsidx
/.gitignore
