################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TODOweb/FileContentIndex/e5dc6902-5968-456d-b1b2-6681fea9c1bd.vsidx
/.vs/TODOweb/FileContentIndex/87c8a947-e0fd-41b4-9cd4-dc9e8a9fe313.vsidx
/.vs/TODOweb/FileContentIndex/9fe96638-289f-4234-8486-da954c5ae107.vsidx
/.vs/TODOweb/FileContentIndex/bb8ecbcb-1622-4f73-b18c-ddc3692cbd62.vsidx
/.vs/TODOweb/FileContentIndex/cc00a0dc-ecb1-40b1-b4d6-0489c8158e75.vsidx
/.vs/TODOweb/FileContentIndex/f00cd3df-2068-4b8b-8103-8bbfa0cc8404.vsidx
